<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="bg-gray-100 relative min-h-screen bg-[url('/static/images/9508803_26807.jpg')] bg-cover bg-center">
    <!-- Profile Icon -->
    <a href="{{ url_for('profile') }}" class="absolute top0 right-10">
        <img 
        src="/static/images/default-profile.png" 
        alt="Profile" 
        class="w-10 h-10 rounded-full hover:ring-2 hover:ring-blue-500 transition"
        title="Go to Profile">
    </a>
    <div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md relative">

        <!-- Welcome Section -->
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
            Welcome, {{ session['username'] }}
        </h2>
        
        <!-- User Medical Information -->
        <div class="text-gray-700">
            <p class="text-lg"><strong>Age:</strong> {{ medical_info.age }}</p>
            <p class="text-lg"><strong>Weight:</strong> {{ medical_info.weight }} kg</p>
            <p class="text-lg"><strong>Height:</strong> {{ medical_info.height }} cm</p>
            {% if bmi %}
                <p class="text-lg">
                    <strong>BMI:</strong> 
                    <span class="text-black-700">{{ bmi | round(2) }}</span>
                    <span class="{{ bmi_risk_color }}">{{ bmi_category }}</span>
                </p>
            {% else %}
                <p class="text-lg text-red-600"><strong>BMI:</strong> Not available</p>
            {% endif %}
            <a href="{{ url_for('update_medical_info') }}" class="mt-6 inline-block px-6 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 transition">
                Update Medical Information
            </a>
        </div>
    </div>
</body>
</html>
